/* CSS Document theme2 */

.col-sm-6.main {
   /* background-image:url(cells_violet_black_9675_2560x1600.jpg); */
    margin: 0;
    padding: 0;
    background-size: cover;
    object-fit: cover;
}
.row.bg {
    margin: 0;
    padding: 70px 70px;
}
input.form-control {
    height: 44px;
    margin: 0;
    padding: 0;
	border-bottom:1px solid #555;
}
.input-group.margin-bottom-sm {
    margin: 0;
    padding: 0 0 12px 0;
}
i.fa.fa-user {
    margin: 0;
    padding: 0 4px;
}
li.forgot {
    color: #fff;
    list-style: none;
    text-align: -webkit-right;
    margin: 21px 0 0 0;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
}
img.img-responsive {
    width: 43%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}
input.form-control {
    background: no-repeat;
    border: none;
    border-bottom: 1px solid;
}
span.input-group-addon.second {
    background: no-repeat;
    border: none;
    border-bottom: 1px solid;
	border-radius: 0;
}
span.input-group-addon {
    background: no-repeat;
    border: none;
    border-bottom: 1px solid;
}
i.fa.fa-user {
    color: #fff;
    font-size: 22px;
}
i.fa.fa-key.fa-fw{
    color: #fff;
    font-size: 22px;
}
i.fa.fa-sign-in{
    color: #fff;
    font-size: 22px;
}
